services:
  app:
    build: .
    container_name: legal_service_portal_api
    ports:
      - "${APP_PORT}:${APP_PORT}"
      - "5005:5005"
    volumes:
      - ./src:/app/src
      - ./target:/app/target
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - MAVEN_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005

  db:
    image: postgres:18-alpine3.22
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  postgres-data:
    driver: local
